.select {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}

.select-cont {
  width: 100%;
  border-radius: variables.$border-radius;
  padding: 1rem 2rem;
  background-color: variables.$color-bg;
  color: variables.$color-font-light;
}

// options container
.options {
  // width: 370px;
  border-radius: variables.$border-radius;
  display: flex;
  flex-direction: column;
  color: variables.$color-font-dark;
  background-color: variables.$color-bg;
  margin-top: 5px;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 10;
  min-width: fit-content;
}

// particular options
.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px; // minimum gap between the options
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: variables.$color-bg-cont;
  border-bottom: 2px solid variables.$color-bg;
  &:hover {
    color: variables.$color-primary;
  }
  &:first-child {
    border-top-left-radius: variables.$border-radius;
    border-top-right-radius: variables.$border-radius;
  }
  &:last-child {
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
  }
}
