.cont {
  border-radius: variables.$border-radius;
  width: 100%;
  margin: 0 auto;
  background-color: variables.$color-bg-cont;
  padding: 20px 10px;
  &__header {
    color: variables.$color-font-dark;
    font-weight: 700;
    font-size: 18px;
  }
}

.reply_cont {
  margin-left: 2.5rem;
  border-left: 1px solid variables.$color-bg;
}
