.empty-cont {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-bg-cont;
  border-radius: variables.$border-radius;
  text-align: center;
  &__img {
    margin-bottom: 30px;
  }

  & > *:not(:last-child) {
    width: 30rem;
  }
  &__heading {
    color: variables.$color-font-dark;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__subheading {
    color: variables.$color-font-light;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}
