.tab {
  &__cont {
    &__title {
      font-size: 16px;
      color: variables.$color-font-dark;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &__description {
      font-size: 14px;
      color: variables.$color-font-light;
      font-weight: 400;
      margin-bottom: 20px;
    }
    //     display: flex;
    //     justify-content: space-around;
  }

  //TODO: Smooth Animation on changing the tabs
  &-header {
    &__cont {
      display: flex;
      justify-content: space-around;
    }
    &__item {
      color: variables.$color-font-light;
      padding: 10px;
      border-bottom: 5px solid transparent;
      margin-bottom: 5px;

      &--active {
        padding: 10px;
        margin-bottom: 5px;
        color: variables.$color-font-dark;
        font-weight: 600;
        border-bottom: 5px solid variables.$color-decoration-1;
      }
    }
  }
}

// Grid Related layout
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  align-items: start;
  gap: 30px;

  &__items {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    margin-bottom: 20px;
    &__header {
      margin-top: 20px;
      margin-bottom: 20px;
      &__desc {
        font-size: 14px;
        font-weight: 400;
        color: variables.$color-font-light;
        margin: 10px auto;
      }
      &:first-child {
        font-size: 16px;
        color: variables.$color-font-dark;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    &--planned,
    &--inprogress,
    &--live {
      margin-bottom: 20px;
    }
  }
}
