.edit-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__field {
    &--title {
      font-weight: 700;
      font-size: 14px;
      color: #3a4374;
    }
    &--subtitle {
      font-weight: 400;
      color: #647196;
      font-size: 12px;
      margin: 2px 0 16px 0;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-top: 20px;
    & > :first-child {
      justify-self: flex-start;
    }
  }
}
