.cont-wrapper {
  background-color: variables.$color-bg;
  font-size: 16px;
  min-height: 100vh;
  width: 70%;
}

.cont {
  width: 100%;
  margin: 0 auto;
  padding: 42px;
  padding-top: 0;
  font-size: 14px;
  border-radius: variables.$border-radius;
  &-nav {
    font-weight: 700;
    color: #647196;
    cursor: pointer;
    margin-bottom: 20px;
    // &::before{
    //     content:'<';
    //     margin-right: 20px;
    // }
  }
  &-header {
    color: #3a4374;
    margin: 24px 0 40px 0;
    font-weight: 700;
    font-size: 24px;
  }
  &-form {
    padding: 0 42px 42px 42px;
    background-color: #fff;
    border-radius: variables.$border-radius;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &-title {
    font-weight: 700;
    color: #3a4374;
  }
  &-subtitle {
    font-weight: 200;
    color: #647196;
    margin: 2px 0 16px 0;
  }
  &-input {
    color: #3a4374;
    background-color: #f7f8fd;
    padding: 13px 24px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    &--select {
      width: 100%;
      option {
        appearance: none;
        padding: 12px 24px;
        font-size: 16px;
        cursor: pointer;
        color: #647196;
        background-color: #fff;
        &:focus,
        &:active,
        &:hover {
          color: #ad1fea;
          // background-color: #efefef;
        }
      }
    }
  }

  &-button {
    font-weight: 700;
    color: #f2f4ff;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 2px;

    &--primary {
      background-color: #ad1fea;
    }
    &--secondary {
      background-color: #3a4374;
    }
  }
}
