*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: variables.$color-bg;
  & > * {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    overflow: hidden;
    margin: 0 auto;
    @media only screen and (max-width: 900px) {
      padding: 10px;
    }
  }
}

// Button Styles
button {
  outline: none;
  border: none;

  margin: 1px;
  padding: 12px 10px;

  border-radius: variables.$border-radius;

  background-color: variables.$color-blue;
  color: variables.$color-bg;

  font-weight: 700;

  cursor: pointer;
}

.btn {
  &--primary {
    background-color: variables.$color-primary;
  }
  &--secondary {
    background-color: variables.$color-secondary;
  }
  &--danger {
    background-color: variables.$color-danger;
  }
  &--wide {
    padding: 15px 20px;
    font-weight: 700;
  }
}

// inputs
input,
textarea {
  background-color: variables.$color-bg;
  color: variables.$color-font-dark;
  width: 100%;
  padding: 1rem 0.5px;

  outline: none;
  border: none;

  & label {
    font-weight: bold;
    color: variables.$color-font-dark;
  }
}

select {
  background-color: variables.$color-bg;
  color: variables.$color-font-dark;
  width: 100%;
  padding: 1rem 0.5px;

  outline: none;
  border: none;
}

option {
  appearance: none;
  color: variables.$color-font-light;
}

.header {
  background-color: variables.$color-font-dark;
  color: variables.$color-bg;
  padding: 10px 20px;
  border-radius: variables.$border-radius;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  text-transform: capitalize;
  border-radius: variables.$border-radius;
  background-color: variables.$color-bg;
  color: variables.$color-blue;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  display: inline-block;
  &--active {
    background-color: variables.$color-blue;
    color: variables.$color-bg;
  }
}
