.cont {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: variables.$border-radius;
  background-color: variables.$color-font-dark;
  color: variables.$color-bg-cont;
  margin-bottom: 20px;
  &__left {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__right {
  }
}
