.tag-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  & > * {
    cursor: pointer;
  }
  //   display: flex;
  //   text-transform: capitalize;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 5px;
  //   color: variables.$color-font-light;
}
