.mobile-nav {
  &__cont {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    padding: unset;
    // background-color: greenyellow;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &__icon {
      cursor: pointer;
      align-self: flex-end;
    }
    &__content {
      width: 15rem;
      background-color: variables.$color-bg;
      padding: 20px;
      padding-top: 30px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
