.comment-wrapper {
  border-bottom: 2px solid variables.$color-bg;
}
.comment {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: variables.$color-bg-cont;
  gap: 20px;
  border-radius: variables.$border-radius;
  margin-bottom: 2px;

  &__user-img {
    border-radius: 50%;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    &__header {
      margin-bottom: 20px;
      & > *:first-child {
        color: variables.$color-font-dark;
        font-size: 16px;
        font-weight: 600;
      }
      & > :last-child {
        display: flex;
        justify-content: space-between;
        color: variables.$color-font-light;
        &:last-child {
          color: variables.$color-blue;
          cursor: pointer;
        }
      }
    }
    &__body {
      color: variables.$color-font-light;
      &__mention {
        color: variables.$color-primary;
        font-weight: bold;
      }
    }
  }
}

.reply {
  &__user {
    &--img {
      &__content {
        border-radius: 50%;
      }
    }
    &--header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &--name {
      color: variables.$color-font-dark;
      font-weight: 600;
    }

    &--username {
      color: variables.$color-font-light;
    }

    &-mention {
      color: variables.$color-primary;
      font-weight: bold;
    }
  }
  &__content {
    color: variables.$color-font-light;
  }
  &__cta {
    color: variables.$color-blue;
    cursor: pointer;
  }
}

.addcomment {
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: variables.$border-radius;
  background-color: variables.$color-bg-cont;
  &__header {
    font-weight: 800;
    color: variables.$color-font-dark;
    margin-bottom: 10px;
  }
  &__input {
    padding: 30px 20px;
    border-radius: variables.$border-radius;
    background-color: variables.$color-bg;
    margin-bottom: 10px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__limit {
    color: variables.$color-font-light;
    font-size: 14px;
  }
}

.reply-input-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}
