.upvote {
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  background-color: variables.$color-bg;
  color: variables.$color-blue;
  align-self: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:focus {
    border: 1px solid variables.$color-blue;
  }
  &:hover {
    background-color: rgba(variables.$color-blue, 0.2);
  }
  &--active {
    background-color: variables.$color-blue;
    color: variables.$color-bg;
    &:hover {
      background-color: variables.$color-blue;
    }
  }
}

.layout-horizontal {
  flex-direction: row;
  gap: 10px;
  padding: 10px 15px;
}
