.edit-cont {
  width: 600px;
  background-color: variables.$color-bg-cont;
  border-radius: variables.$border-radius;
  padding: 40px;
  margin: 0 auto;
  position: relative;
  &__heading {
    color: variables.$color-font-dark;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  &__img {
    position: absolute;
    top: -20px;
    left: 40px;
  }
}
