.roadmap-card {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & > *:first-child {
      font-weight: 700;
    }
    & > *:last-child {
      font-size: 12px;
    }
  }

  &__content {
    &--live,
    &--inprogress,
    &--planned {
      display: flex;
      text-transform: capitalize;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 400;
      color: variables.$color-font-dark;
      & > *:last-child {
        color: variables.$color-font-light;
        font-weight: 600;
      }
      & > *:first-child {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      & > *:first-child:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: variables.$color-decoration-1;
      }
    }
    &--inprogress > *:first-child:before {
      background-color: variables.$color-primary;
    }
    &--planned > *:first-child:before {
      background-color: variables.$color-decoration-2;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    color: variables.$color-font-dark;
  }

  &__link {
  }
}
