.roadmap-details-card {
  border-radius: variables.$border-radius;
  overflow: hidden;
  margin-bottom: 20px;
  &--planned,
  &--in-progress,
  &--live {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    padding-top: 30px;
    background-color: variables.$color-bg-cont;
  }

  &__status {
    font-size: 14px;
    color: variables.$color-font-light;
    text-transform: capitalize;
    // margin-bottom: 20px;
    &::before {
      content: '';
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      height: 10px;
      width: 10px;
      background-color: variables.$color-primary;
    }
    &--planned::before {
      background-color: variables.$color-decoration-1;
    }
    &--live::before {
      background-color: variables.$color-decoration-2;
    }
  }
  &__title {
    color: variables.$color-font-dark;
    font-size: 18px;
    font-weight: 700;
    // width: 80%;
  }
  &__link {
    color: variables.$color-font-dark;
    &:hover {
      color: variables.$color-blue;
    }
    text-decoration: none;
  }
  &__description {
    color: variables.$color-font-light;
    font-size: 16px;
    line-height: 1.5;
  }
  &__footer {
    // margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__upvotes {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;
    border-radius: variables.$border-radius;
    background-color: variables.$color-bg;
    color: variables.$color-font-dark;
    padding: 5px 10px;
  }
  &__comments {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;
    color: variables.$color-font-dark;
  }
  &--planned {
    border-top: 5px solid variables.$color-decoration-1;
    &__status {
      &::before {
        background-color: variables.$color-decoration-1;
      }
    }
  }
  &--in-progress {
    border-top: 5px solid variables.$color-primary;
    &__status {
      &::before {
        background-color: variables.$color-primary;
      }
    }
  }
  &--live {
    border-top: 5px solid variables.$color-decoration-2;
    &__status {
      &::before {
        background-color: variables.$color-decoration-2;
      }
    }
  }
}
