@import '../../../../styles/breakpoints.scss';

$card-width: 250px;

.brand-card {
  border-radius: variables.$border-radius;
  margin-bottom: 20px;
  width: $card-width;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  padding-bottom: 30px;
  @include respond(desktop) {
    height: 130px;
  }
  @include respond(tab) {
    display: none;
  }
  @include respond(phone) {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  color: variables.$color-bg;
  background: radial-gradient(
    circle at 100% -50%,
    variables.$color-decoration-1,
    variables.$color-primary,
    variables.$color-blue,
    variables.$color-decoration-2
  );
  &__heading {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__subheading {
    font-weight: 400;
    font-size: 12px;
  }
  &__menu {
    display: none;
    cursor: pointer;
    @include respond(phone) {
      display: block;
    }
  }
}
