.cont {
  display: flex;
  align-items: flex-start;
  padding: 20px 30px;
  background-color: variables.$color-bg-cont;
  gap: 20px;
  border-radius: variables.$border-radius;
  margin-bottom: 20px;

  &__right {
    display: flex;
    align-items: center;
    & > *:first-child {
      flex-grow: 1;
    }
    flex-grow: 1;
    padding: 10px;
    background-color: variables.$color-bg-cont;
  }

  &__link {
    text-decoration: none;
  }

  &__upvotes {
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: variables.$color-bg;
    color: variables.$color-blue;
    align-self: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:focus {
      border: 1px solid variables.$color-blue;
    }
    &:hover {
      background-color: rgba(variables.$color-blue, 0.2);
    }
    &--active {
      background-color: variables.$color-blue;
      color: variables.$color-bg;
      &:hover {
        background-color: variables.$color-blue;
      }
    }
  }
  &__title {
    color: variables.$color-font-dark;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-flex;
    &:hover {
      color: variables.$color-blue;
    }
  }
  &__description {
    color: variables.$color-font-light;
    margin-bottom: 20px;
  }
  &__comments {
    display: flex;
    gap: 5px;
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }
  //   &-box {
  //     display: flex;
  //     &__content {
  //       flex-grow: 1;
  //     }
  //   }
}
