@import '../../styles/breakpoints.scss';

.cont {
  display: grid;
  gap: 30px;
  padding: 20px;
  padding-top: 4rem;
  margin: 0 auto;

  @include respond(tab) {
    grid-template-rows: auto auto;
  }

  @include respond(desktop) {
    width: 80%;
    grid-template-columns: auto 1fr;
  }

  &__left {
    // display: grid;
    display: flex;
    gap: 10px;
    & > * {
      &:not(:first-child) {
        @include respond(phone) {
          display: none;
        }
      }

      @include respond(tab) {
        &:nth-child(2) {
          flex-grow: 1;
        }
      }
    }

    @include respond(tab) {
      // grid-template-columns: auto auto auto;
      flex-direction: row;
    }

    @include respond(desktop) {
      // grid-template-rows: repeat(3, auto);
      flex-direction: column;
    }
  }

  &__right {
    @include respond(phone) {
      margin-top: 6rem;
    }
  }
}

// .card {
//   padding: 20px;
//   background-color: variables.$color-bg-cont;
//   border-radius: variables.$border-radius;
//   width: 200px;
//   margin-bottom: 20px;
//   &-item {
//     display: flex;
//     text-transform: capitalize;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 5px;
//     color: variables.$color-font-light;
//     &--planned::before,
//     &--inprogress::before,
//     &--live::before {
//       content: '';
//       display: inline-block;
//       margin-right: 10px;
//       width: 10px;
//       height: 10px;
//       border-radius: 50%;
//       background-color: variables.$color-decoration-1;
//     }
//     &--inprogress::before {
//       background-color: variables.$color-primary;
//     }
//     &--live::before {
//       background-color: variables.$color-decoration-2;
//     }
//   }
//   &__heading {
//     font-weight: 600;
//     font-size: 14px;
//   }
//   &__subheading {
//     font-weight: 400;
//     font-size: 12px;
//   }
//   &--colored {
//     padding-top: 40px;
//     @include respond(phone) {
//       padding: 20px;
//       position: fixed;
//       top: 0;
//       left: 0;
//       width: 100%;
//       border-radius: 0px;
//     }
//     color: variables.$color-bg;
//     background: radial-gradient(
//       circle at 100% -50%,
//       variables.$color-decoration-1,
//       variables.$color-primary,
//       variables.$color-blue,
//       variables.$color-decoration-2
//     );
//   }
// }

.banner {
  background-color: variables.$color-font-dark;
  display: flex;
  border-radius: variables.$border-radius;
  align-items: center;
  color: variables.$color-bg;
  gap: 20px;
  padding: 20px;
  &:focus {
    border: 2px solid red;
  }
  & > *:last-child {
    flex-grow: 1;
    text-align: right;
  }
  & > :nth-child(1),
  & > :nth-child(2) {
    font-weight: 600;
    font-size: 18px;
    @include respond(phone) {
      display: none;
    }
  }
  & > :nth-child(3) {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
  }
  @include respond(phone) {
    padding: 10px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  margin-bottom: 20px;
}

.product-requests {
  width: 100%;
}

.select {
  min-width: 100px;
  & > *:first-child {
    font-weight: 600;
    font-size: 16px;
  }
  &__options {
    min-width: 200px !important;
  }
}
