@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab {
    @media only screen and (max-width: 960px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 961px) {
      @content;
    }
  }
}
