// Colors
$color-primary:#ad1fea;
$color-secondary: #373f68;
$color-blue:#4661e6;

$color-font-dark:#3a4374;
$color-font-light:#647196;

$color-danger: #ff1111;

$color-bg:#f2f4ff;
$color-bg-cont:#fff;

$color-decoration-1:#f49f85;
$color-decoration-2:#62bcfa;

$border-radius:10px;


/* 
height->8px side 
container ->width ->255 padding 24 
comment container ->28 32 815 width
*/
